fastapi==0.111.1
uvicorn[standard]==0.30.1
SQLAlchemy[asyncio]>=2.0.35
psycopg[binary,pool]==3.2.9
alembic==1.13.2
pydantic==2.8.2
pydantic-settings==2.3.4
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-multipart==0.0.9
email-validator==2.2.0
redis>=5.0.4
