.navbar {
  background-color: #ffffff;
}

.navbar-brand img {
  width: 100px;
}

.search-input {
  background-color: #CCE9ED; 
  border: none;              
  border-radius: 20px;      
  padding: 6px 12px;         
  color: #333;               
  font-size: 14px;
  outline: none;
  width: 300px;
  transition: width 0.3s ease;
}

.search-input::placeholder {
  color: #888;
}

.search-button {
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

@media (max-width: 992px) {
  .search-input {
    width: 200px;
  }
}

/* 모바일 사이즈일 때 */
@media (max-width: 576px) {
  .search-input {
    width: 100px;
  }
}


.dark-divider {
  border-bottom: 1px solid #ccc;
}

.menu-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.dropdown-menu.show {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
}

.dropdown-item {
  color: #333;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 10px;
}

.login-button {
  font-size: 14px;
  background-color: #1A9BAD;
}

.logout-button {
  font-size: 14px;
  color: #dc3545;
  text-decoration: none;
}

.logout-button:hover {
  text-decoration: underline;
}

.dropdown-item-no-hover:hover {
  background-color: transparent !important;
}
