.topic-selector-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.topic-selector {
  display: flex;
  gap: 1rem; 
  padding: 1rem 0;
  transition: transform 0.5s ease-in-out;
}

.topic-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, background-color 0.2s, color 0.2s;
  height: 60px;
  width: 140px; 
  flex-shrink: 0; 
}

.topic-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.topic-button.selected {
  background-color: #DBF9FF;
  color: white;
  border-color: #DBF9FF;
}

.topic-emoji {
  margin-top: 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.topic-name {
  font-size: 0.9rem;
  font-weight: 500;
  color: #495057;
  margin-bottom: 1rem;
}

.btn-submit {
  margin-top: 2rem;
  padding: 0.75rem 1rem; 

}